[submodule "Projects/BTRC_Projects"]
	path = Projects/BTRC_Projects
	url = motohisa@rihopro.ist.hokudai.ac.jp:/Users/motohisa/gitrepo/pio/BTRC_Projects.git
[submodule "Projects/buttonTest"]
	path = Projects/buttonTest
	url = motohisa@rihopro.ist.hokudai.ac.jp:/Users/motohisa/gitrepo/pio/buttonTest.git
[submodule "Projects/maptest"]
	path = Projects/maptest
	url = motohisa@rihopro.ist.hokudai.ac.jp:/Users/motohisa/gitrepo/pio/maptest.git
[submodule "Projects/ESPWiFi-Temp-Logger"]
	path = Projects/ESPWiFi-Temp-Logger
	url = motohisa@rihopro.ist.hokudai.ac.jp:/Users/motohisa/gitrepo/pio/ESPWiFi-Temp-Logger.git
[submodule "Projects/esp32dev_DS1307test"]
	path = Projects/esp32dev_DS1307test
	url = motohisa@rihopro.ist.hokudai.ac.jp:/Users/motohisa/gitrepo/pio/esp32dev_DS1307test.git
